@import "../../../styles/variables/dimens.css";

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

:host .weekday {
  margin: 0 var(--base-line);
  flex: 1;
}

:host .weekday_title {
  margin-bottom: 0;
}

:host .weekday__title, :host .weekday_subtitle {
  font-size: var(--font-size-h4);
  line-height: calc((var(--font-size-h4) / var(--base-line)) * (var(--base-line) / var(--font-size-h4)));
}

@media (min-width: 720px) {
  :host {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-self: auto;
  }
}
