sudo: false
language: node_js
cache:
  directories:
  - node_modules
node_js:
- stable
before_install:
- npm install firebase-tools -g
install:
- npm run build
script:
- firebase deploy --token "$FIREBASE_TOKEN"
