@import "variables/dimens.css";
@import "variables/fonts.css";
@import "variables/colors.css";

html, body {
  width: 100%;

  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  min-height: 100%;

  font-size: var(--base-font-size);
  line-height: var(--base-line);
}

body {
  min-height: 100%;

  box-sizing: border-box;

  background-color: var(--page-bg-color);
  color: var(--font-color);
  font-family: var(--base-font-family);
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: calc(var(--base-line) * 0.5);
  padding: 0;
  font-family: var(--title-font-family);
  font-weight: normal;
}

h1 {
    font-size: var(--font-size-h1);
    line-height: calc((var(--font-size-h1) / var(--base-line)) * (var(--base-line) / var(--font-size-h1)));
}

h2 {
    font-size: var(--font-size-h2);
    line-height: calc((var(--font-size-h2) / var(--base-line)) * (var(--base-line) / var(--font-size-h2)));
}

h3 {
  font-size: var(--font-size-h3);
  line-height: calc((var(--font-size-h3) / var(--base-line)) * (var(--base-line) / var(--font-size-h3)));
}

h4 {
  font-size: var(--font-size-h4);
  line-height: calc((var(--font-size-h4) / var(--base-line)) * (var(--base-line) / var(--font-size-h4)));
}

h5 {
  font-size: var(--font-size-h5);
  line-height: calc((var(--font-size-h5) / var(--base-line)) * (var(--base-line) / var(--font-size-h5)));
}

h6 {
  font-size: var(--font-size-h6);
  line-height: calc((var(--font-size-h6) / var(--base-line)) * (var(--base-line) / var(--font-size-h6)));
}

.small-text {
  font-size: var(--small-font-size);
  line-height: calc((var(--small-font-size) / var(--base-line)) * (var(--base-line) / var(--small-font-size)));

  letter-spacing: 1.5;
}

p {
  word-wrap: break-word;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  margin: var(--base-line);
}

ul, ol {
  display: inline-block;
  text-align: left;
  margin-top: 0;
}

main {
  width: 100%;
  min-height: 100%;
}

.hidden {
  display: none !important;
}

a {
  color: var(--link-text-color);
}

body {
  display: flex;
  flex-direction: column;
  min-width: 240px;
}

.calendar-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.top-header {
  display: flex;

  padding-top: var(--base-line);
  margin: 0 var(--base-line) var(--base-line) var(--base-line);

  flex-direction: row;
  justify-content: space-between;
}

.goals {
  display: flex;

  flex-direction: column;
  justify-content: flex-start;

  font-family: var(--title-font-family);
  list-style: none;
  padding: 0;
  margin: 0 0 var(--base-line) 0;
}

.goals li {
  margin-bottom: calc(var(--base-line) / 3);
}

.weekdisplay__paintingarea {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

@media (min-width: 300px) {
  h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin-bottom: var(--base-line);
  }
}
