gf-spinner .spinner, :host .spinner {
  display: inline-block;
  position: relative;

  width: 48px;
  height: 48px;
}

gf-spinner .spinner-bounce1, gf-spinner .spinner-bounce2,
:host .spinner-bounce1, :host .spinner-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  animation: sk-bounce 2.0s infinite ease-in-out;
}

gf-spinner .spinner-bounce2, :host .spinner-bounce2 {
  animation-delay: -1.0s;
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
  }
