<template>
  <style>
  :host h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: calc(var(--base-line) * 2);
    line-height: 1;
  }

  :host .next-prev {
    font-family: var(--title-font-family);
  }

  :host .next-prev:after {
    content: '';
    display: block;
    clear: both;
  }

  :host .next-prev a {
    color: var(--link-text-color);
    text-decoration: none;
    padding: var(--base-line) 0;
  }

  :host .next-prev a:first-child {
    float: left;
  }

  :host .next-prev a:last-child {
    float: right;
  }
  </style>
  <h1 class="js-weekinfo-year"></h1>
  <h1 class="js-weekinfo-month"></h1>
  <h1>Week <span class="js-weekinfo-weekNumber"></span></h1>

  <nav class="next-prev">
    <a class="js-prev-week" href="#">Prev</a>
    <a class="js-next-week" href="#">Next</a>
  </nav>
</template>

<script src="gf-weekinfo.js"></script>
