<template>
  <style>
    @import "/components/gf-weekdisplay/gf-weekdisplay.css";
  </style>
  <div class="weekday">
    <header>
       <h1 class="weekday__title">Monday</h1>
       <h3 class="weekday__subtitle">01</h3>
    </header>
  </div>

  <div class="weekday">
    <header>
       <h1 class="weekday__title">Tuesday</h1>
       <h3 class="weekday__subtitle">02</h3>
    </header>
  </div>

  <div class="weekday">
    <header>
       <h1 class="weekday__title">Wednesday</h1>
       <h3 class="weekday__subtitle">03</h3>
    </header>
  </div>

  <div class="weekday">
    <header>
       <h1 class="weekday__title">Thursday</h1>
       <h3 class="weekday__subtitle">04</h3>
    </header>
  </div>

  <div class="weekday">
    <header>
       <h1 class="weekday__title">Friday</h1>
       <h3 class="weekday__subtitle">05</h3>
    </header>
  </div>

  <div class="weekday">
    <header>
       <h1 class="weekday__title">Weekend</h1>
       <h3 class="weekday__subtitle">06 - 07</h3>
    </header>
  </div>
</template>

<script src="gf-weekdisplay.js"></script>
