@import "../../../styles/variables/dimens.css";

gf-calendar {
  width: 100%;
  flex: 1;

  display: flex;
  flex-direction: column;
}

gf-calendar .top-header {
  display: flex;

  padding-top: var(--base-line);
  margin: 0 var(--base-line) var(--base-line) var(--base-line);

  flex-direction: row;
  justify-content: space-between;
}

gf-calendar gf-drawing-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
