<template>
  <style>
  gf-calendar {
    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;
  }

  gf-calendar .top-header {
    display: flex;

    padding-top: var(--base-line);
    margin: 0 var(--base-line) var(--base-line) var(--base-line);

    flex-direction: row;
    justify-content: space-between;
  }

  gf-calendar gf-drawing-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  </style>

  <header class="top-header">
    <gf-weekinfo class="js-weekinfo"></gf-weekinfo>
    <gf-edit-list class="js-edit-list-quarterly">
      <h1>Quarterly</h1>
    </gf-edit-list>
  </header>

  <gf-weekdisplay class="js-weekdisplay">
  </gf-weekdisplay>

  <gf-drawing-canvas class="js-drawing-canvas"></gf-drawing-canvas>
</template>

<script src="gf-calendar.js"></script>
