/**
 * Should be :host but doesn't work in non-supporting browsers
 */
gf-calendar, :host {
  width: 100%;
  flex: 1;

  display: flex;
  flex-direction: column;
}

gf-calendar .top-header, :host .top-header {
  display: flex;

  padding-top: var(--base-line);
  margin: 0 var(--base-line) var(--base-line) var(--base-line);

  flex-direction: row;
  justify-content: space-between;
}
